<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Joseph Okoro | Web Developer, Data Analyst | djeoziv@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Joseph Okoro</h1>
					<h2>Web Developer, Data Analyst</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:name@yourdomain.com">djeoziv@gmail.com</a></h3>
						<h3><a href="visit website">www.github/scrutinytech/blog</a></h3>
						<h3>(234) - 703-6288707</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Progressively evolving ideas into impactful infomediaries, by conceptualizing Energistical visualization through tactical initiatives for needed change. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Design</h2>
									<p>full stack web developer, using RoR, Ruby Programming Language, bootstrap, jquery, TDD and documentation/deploying apps for full production.	</p>
								</div>

								<div class="talent">
									<h2>Data Analyst</h2>
									<p>Data visualization, mySQL, Decision Science, Data collationand processing, Data mapping	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>HTML5</li>
								<li>CSS3</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Jquery</li>
								<li>RoR</li>
								<li class="last">Python</li>
							</ul>

							<ul class="talent">
								<li>Arc GIS</li>
								<li>Windows </li>
								<li class="last">GIT</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Anzallah limited</h2>
								<h3>Principal Architect and Creative Lead </h3>
								<h4>2014-2017</h4>
								<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. </p>
							</div>

							<div class="job">
								<h2>Nostech Technologies</h2>
								<h3>Web Developer</h3>
								<h4>2018-2020</h4>
								<p>Intrinsicly enable optimal core competencies through corporate relationships fostered through implementing worldwide vortals and client-focused imperatives in web designs and restful virtual paradigms with top-line interfaces. </p>
							</div>

												
							<div class="job">
								<h2>Frelancer</h2>
								<h3>Freelance Designer - El-tobe Core, El-treasure Designs</h3>
								<h4>2019-Date</h4>
								<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas.  Deliver bricks-and-clicks strategic themes in web development. </p>
							</div>							
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Nnamdi Azikiwe University - Awka, Nigeria</h2>
							<h3><strong>Major, Computer Science; </strong> </h3>
						</div>
						<div class="yui-u">
							<h2>Federal Polytechnic, - Oko, Nigeria</h2>
							<h3><strong>Major, Architecture  </strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Joseph Okoro &mdash; <a href="mailto:name@yourdomain.com">djeoziv@gmail.com</a> &mdash; (234) - 703-6288707</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>
